$("#bid_result_tb").empty()

<%  @bid_evaluate.each do |one_result|  %>
$("#bid_result_tb").append("    <tr class='c_tb_tr'>  <td>1</td>  <td class='c_text_left'><%=  one_result['title'] %></td>   <td><%=  one_result['date'] %></td>    <td><%= one_result['address'] %></td>    <td> <a href=\"\" data-toggle='modal' data-target='#c_myModal_jy'>详情</a></td> </tr>                    ")
<% end %>

$( "#bid_result_div").html( ' <%=  escape_javascript( paginate @bid_evaluate,   :type => "bid_evaluate" ,  :remote=>true) %> ')