

 <%  @bid_evaluate=@infomations["bid_evaluate"] %>
          <% @bid_evaluate_size = @infomations["bid_evaluate_size"]%>
          <% @bid_evaluate = Kaminari.paginate_array(@bid_evaluate, total_count:@bid_evaluate_size ).page(params[:page]).per(3) %>




$("#bid_result_tb").empty()

<%  @bid_evaluate.each do |one_result|  %>
$("#bid_result_tb").append("    <tr class='c_tb_tr'>  <td>1</td>  <td class='c_text_left'><%=  one_result['title'] %></td>   <td><%=  one_result['date'] %></td>    <td><%= one_result['address'] %></td>    <td> <a href=\"\" data-toggle='modal' data-target='#c_myModal_jy'>详情</a></td> </tr>                    ")
<% end %>

$( "#bid_result_div").html( ' <%=  escape_javascript( paginate @bid_evaluate,   :type => "bid_evaluate"  , :companyType=>'招标',:fieldName=>'评标结果公示',  :remote=>true) %> ')