alert("aaaaaaaa")

<%  @change_sizezb=@infomations['bid_notice_size']  %>

<%  puts @infomations  %>

<%   @bid_announcement=  @infomations["bid_notice"]  %>

<% @bid_announcement = Kaminari.paginate_array(@bid_announcement,total_count:@change_sizezb ).page(params[:page]).per(3)  %>


$("#bid_announcement").empty()



   <% @bid_announcement.each do |coping_information| %>
   $("#bid_announcement").append("<tr ><td>1</td><td><%=coping_information['title'] %></td><td><%=coping_information['data'] %></td><td><%=coping_information['address'] %></td></tr>")
   <% end %>

 $("#bid_announcementtwo").html(    '<%=       escape_javascript  (paginate @bid_announcement,  :type => "bid_announcement", :companyType=>'经营信息',:fieldName=>'招标公告',:remote=>true)    %>' )