<% @bidding_result_size = @infomations["bid_result_size"]%>
<% @bidding_result = @infomations["bid_result"]%>
<% @bidding_result = Kaminari.paginate_array( @bidding_result, total_count:@bidding_result_size).page(params[:page] ).per(3) %>
$("#aaa").empty()

  <%  @bidding_result.each do |bidding|  %>
$("#aaa").append("    <tr class='c_tb_tr'>  <td>1</td>  <td class='c_text_left'><%=  bidding['title'] %></td>   <td><%=  bidding['date'] %></td>    <td><%= bidding['address'] %></td>    <td> </td> </tr>                    ")

<% end %>


        $("#bbb").html(    '<%=       escape_javascript  (paginate @bidding_result, :params=>{ :type=> :bidding_result, :companyType=>'招标',:fieldName=>'中标结果公告'  },remote:true)    %>'       )




