

















            

            









<!--
互联网动态信息
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->






<div class="c_flss qyxq_menu_display_6"   style="position: relative;top: 87px; display: inline-block; overflow: hidden;">

  <div class="sc-nav" style="overflow:hidden">
    <ul>
      <li style="padding:0px 5px;margin-top: 10px;">
        <span style="float: left; margin-right: 30px;">分类：</span>
        <p class='s_p_Hlwdt'>
          <a href="#" class="sc-a sc-b">
            <span>全部</span>
            <span>1</span>
          </a>
          <a href="#" class="sc-a">
            <span>处罚</span>
            <span>３</span>
          </a>
          <a href="#" class="sc-a">
            <span>违法行为</span>
            <span>1</span>
          </a>
          <a href="#" class="sc-a">
            <span>民间贷款</span>
            <span>3</span>
          </a>
        </p>
      </li>
    </ul>
  </div>

  <div class="sc-content">

    <a href="#" class="sc-input" >
      <span>目标公司</span>
    </a>
    <ul class="penal">
      <li class="sc-xia-kuang ">
        <a href="#" class="sc-xia-text sc-kactive">
          <span>深圳市原力资产管理有限公司</span>
          <span style="float:right;">8</span>
        </a>
      </li>
    </ul>

    <a href="#" class="sc-input" >
      <span>关联公司</span>
      <span class="caret"></span>
    </a>
    <ul class="penal">
      <li class="sc-xia-kuang ">
        <a href="#" class="sc-xia-text sc-kactive">
          <span>深圳市原力资产管理有限公司</span>
          <span style="float:right;">8</span>
        </a>
      </li>
    </ul>

  </div>






  <div class="c_flss_bttom_you">
    <div data-toggle="modal"  data-target="#myModal">
      <a href="#" class="btn btn-default " id="c_flss_bttom_tj">
        <span>目标/关联公司诉讼信息统计</span>

      </a>
    </div>
    <div class="c_flss_xq" id="c_flss_xq_top">
      <span>关键词名称：</span>
      <a href="#" class="sc-a sc-b">全部</a>
      <a href="#" class="sc-a">深圳力源资产管理有限公司 13</a>
      <a href="#" class="sc-a">深圳力源资产管理 3</a>
      <a href="#" class="sc-a">力源资产 ７</a>

    </div>
    <div class="c_flss_xq" id="c_flss_xq_down">
      <span>严重程度筛选：</span>
      <a href="#">全部</a>
      <a href="#">严重</a>
      <a href="#">中等</a>
      <a href="#">轻微</a>
    </div>


    <div class="aaaa" style="margin-top: 15px;" >

      <span style="float: left; display: block;height: 35px;line-height: 35px;">时间：</span>

      <input class="form-control"  type="text" id="popupDatepicker1"  style="width: 200px;float: left;">

      <span style="float: left; display: block;height: 35px;line-height: 35px;margin: 0 5px;">-</span>

      <input class="form-control"  type="text" id="popupDatepicker2"  style="width: 200px;float: left;margin-right:5px;">
      <input type="button" class="btn btn-warning"  value="确定">
      <input type="button" class="btn btn-default"  value="全部">
      <input type="button" class="btn btn-default"  value="近2个月">
      <input type="button" class="btn btn-default"  value="近6个月">
      <input type="button" class="btn btn-default"  value="近1年">
    </div>

    <div class="s-time-years" style="margin-top:30px;border-left: 3px solid #ccc;height:100px;padding: 10px 0px;padding-left: -60px;">
      <div class="s-time-left" style="float: left;margin-left:20px;">
        <h2 style="    margin-left: -30px;font-size: 20px;line-height: 20px;padding: 10px 0;color: #0c93e9;">
          <i style="width: 20px;height: 20px;background: #0c93e9;display: block;float: left;border-radius: 30px;margin-right: 10px;"></i>
          2017
        </h2>
      </div>


    </div>


    <div class="s-time-first" style="margin-top:-60px;border-left: 3px solid #ccc;">
      <div class="s-time-left" style="float: left;margin-left:-5px;">
        <span style="margin-left: -50px;">07/07</span>
        <em style="    width: 10px;height: 10px;background: #0c93e9;display: block;float: left;border-radius: 30px;margin-top: 5px;"></em>
      </div>
      <div class="s-time-contents" style="padding-left: 20px;margin-top:50px;">
        <div class="s-time-box">
          <span class="s-close"><img src=<%= image_path 'close.png' %> data-toggle="modal"  data-target="#myModal"style="float: right"></span>
          <div class="s-time-btn s-one"  >
            <span class="s-time-btn-1">资金问题</span>
            <span class="s-time-btn-2">目标企业</span>

            <div class="s-time-text">
              <p><h4>万科企业股份有限公司关于长春万科为哈尔滨招商诺丁山项目银行借款提供担保的公告_新浪财经_新浪网</h4></p>
              <p><a href="#">万科企业股份有限公司关于长春万科为哈尔滨招商诺丁山项目银行借款提供担保的公告_新浪财经_新浪网</a>
              <p class="pp">[时间：2017-07-07] [相关度：低] [严重程度：严重] [关键词： 万科企业股份有限公司 </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>








<!--
企业抵押
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->








<div class="q_divO qyxq_menu_display_7" style="position: relative;top: 88px;">
  <div class="q_divI" >
    <div class="q_divUp">
      <div>
        <span>类型：</span>
        <div class="q_search">
          <input type="text"   placeholder="权利人/产权证号" />
          <a href="#" class="btn btn-jlself btn-sm q_sousuo"><i class="fa fa-search" aria-hidden="true"></i>搜索</a>
          <a href="#"  class="btn btn-jlself btn-sm q_chaxun" onclick="" >新增查询</a>
          <a href="#"  class="btn btn-jlself btn-sm q_daoru" ><i class="fa fa-sign-in" aria-hidden="true"></i>批量导入</a>
        </div>
        <a class="btn btn-default q_a" href="#" role="button">全部</a>
        <a class="btn btn-default q_a" href="#" role="button">房产</a>
        <a class="btn btn-default q_a" href="#" role="button">不动产</a>
        <a class="btn btn-default q_a" href="#" role="button">土地</a>
        <span class="q_a">状态：</span>
        <a class="btn btn-default q_a" href="#" role="button">全部</a>
        <a class="btn btn-default q_a" href="#" role="button">抵押</a>
        <a class="btn btn-default q_a" href="#" role="button">未抵押</a>
        <a class="btn btn-default q_a" href="#" role="button">抵押查封</a>
        <a class="btn btn-default q_a" href="#" role="button">无房产</a>
      </div>
    </div>
    <div class="q_divDown">
      <div class="q_setTable">
        <div class="q_list">
          <table width="100%">
            <th >权利人</th>
            <th width="12%">产权证号</th>
            <th width="15%">抵押权人</th>
            <th width="12%">身份证号</th>
            <th width="10%">抵押时间</th>
            <th width="8%">产权类型</th>
            <th width="8%">产权状态</th>
            <th width="8%">过户价</th>
            <th width="10%">操作</th>
          </table>
        </div>
        <div class="q_end">
          <th>暂无数据</th>
        </div>
      </div>
    </div>
  </div>
</div>





<!--
建筑信息
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->



<div class="q_divO qyxq_menu_display_8" style="margin-top: 90px;">
  <div class="q_divI q_divO">
    <div class="q_button">
      <button id="q_btn" type="submit" class="btn " >企业资质</button>
      <button id="q_btn" type="submit" class="btn " >注册人员</button>
      <button id="q_btn" type="submit" class="btn ">工程项目</button>
      <button id="q_btn" type="submit" class="btn ">诚信信息</button>
      <button id="q_btn" type="submit" class="btn ">企业历史变更信息</button>
    </div>
    <!-- 企业资质-->
    <div class="q_tip">
      本单位共有<strong  data-bind="text:total()">2</strong>项资质，详细情况如下：
    </div>
    <div>
      <dl>
        <dt>
          <strong id=q_strong class="btn btn-default">建筑业(新)</strong>
        </dt>
        <dd>
          <table style="width: 100%">
            <tr>
              <td width="14%" class="q_title">资质证书编号:</td>
              <td width="16%" class="q_td">D244****48</td>
              <td width="14%" class="q_title">发证机关:</td>
              <td width="16% " class="q_td">广东省住房和城乡建设厅</td>
              <td width="14%" class="q_title">企业负责人:</td>
              <td width="12%" class="q_td"></td>
            </tr>
            <tr>
              <td class="q_title">发证日期:</td>
              <td class="q_td">2016-07-25</td>
              <td class="q_title">有效期至:</td>
              <td class="q_td">2021-03-03</td>
              <td class="q_title">技术负责人:</td>
              <td class="q_td"></td>
            </tr>
            <tr>
              <td  class="q_title">资质范围:</td>
              <td  class="q_range" style="height:40px;width: 452%;text-align: center;">建筑机电安装工程专业承包壹级</td>
            </tr>
          </table>
        </dd>
      </dl>
    </div>
    <!--注册人员 -->
    <div class="q_tip">
      <span>注册专业及等级：</span>
      <button id="q_btn" type="submit" class="btn btn-sm" >全部</button>
      <button id="q_btn" type="submit" class="btn btn-sm" >二级注册建造师</button>
      <button id="q_btn" type="submit" class="btn btn-sm">一级注册建造师</button>
      <button id="q_btn" type="submit" class="btn btn-sm" >二级临时注册建造师</button>
      <span style="float: right;">本单位共有注册人员47人次</span>
    </div>
    <div>
      <table style="width: 100%">
        <tr>
          <td width="5%" class="q_td q_color">序号</td>
          <td width="10%" class="q_td q_color">人员姓名</td>
          <td width="15%" class="q_td q_color">证件号码</td>
          <td width="15% " class="q_td q_color">注册专业及等级</td>
          <td width="15%" class="q_td q_color">注册证书编号</td>
          <td width="15%" class="q_td q_color">执业印章号</td>
          <td width="15%" class="q_td q_color">发证日期</td>
          <td width="10%" class="q_td q_color">有效期至</td>
        </tr>
        <tr>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
          <td class="q_td">1</td>
        </tr>
      </table>
    </div>
    <!-- 工程项目 -->
    <div class="q_tip">
      <span >本单位共有131个工程项目</span>
      <table style="width: 100%">
        <tr>
          <td width="5%" class="q_td q_color">序号</td>
          <td width="35%" class="q_td q_color">项目名称</td>
          <td width="10%" class="q_td q_color">所在省市</td>
          <td width="15% " class="q_td q_color">项目编号</td>
          <td width="15%" class="q_td q_color">项目分类</td>
          <td width="20%" class="q_td q_color">建设单位</td>
        </tr>
        <tr>
          <td class="q_td">1</td>
          <td class="q_td">武汉出版文化产业园</td>
          <td class="q_td">湖北省-武汉市-江岸区</td>
          <td class="q_td">4201020812030101</td>
          <td class="q_td">房屋建筑工程</td>
          <td class="q_td">武汉华创版业发展有限公司</td>
        </tr>
      </table>
    </div>
    <!-- 诚信信息 -->
    <div class="q_tip">
      <span >本单位共有0条诚信信息</span>
      <table style="width: 100%">
        <tr>
          <td width="10%" class="q_td q_color">类别</td>
          <td width="10%" class="q_td q_color">实施部门</td>
          <td width="10%" class="q_td q_color">文号</td>
          <td width="14% " class="q_td q_color">发布有效期至</td>
          <td width="28%" class="q_td q_color">行为描述</td>
          <td width="28%" class="q_td q_color">决定内容</td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <td class="q_td">暂无数据</td>
        </tr>
      </table>
    </div>
    <!--企业历史变更信息 -->
    <div class="q_tip">
      <span >本单位共有0条信息变更</span>
      <table style="width: 100%">
        <tr>
          <td width="25%" class="q_td q_color">变更时间</td>
          <td width="75%" class="q_td q_color">变更详情</td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <td  class="q_td">暂无数据</td>
        </tr>
      </table>
    </div>
  </div>
</div>









